[submodule "vendor/moss"]
	path = vendor/moss
	url = https://github.com/LierMi/moss.git
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
